* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    transition: .7s;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 99999;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 5%;
    transition: 0.7s;
    box-sizing: border-box;
    height: 70px;
}



.header.header-active {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 70px;
    box-shadow: 2px 2px 10px #c5c5c5;
    /* backdrop-filter: blur(10px);    */
    /* border-bottom: 1px solid rgb(167, 167, 167); */
    width: 90%;
    margin-top: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.logo {
    width: 120px;
    height: 70px;
    overflow: hidden;
    object-fit: fill;
    position: relative;
}

.logo img {
    position: absolute;
    width: 100%;
}

.navbar-nav {
    display: flex;
    gap: 80px;
}

.navbar {
    position: relative;
}

.navbar-nav a{
    text-decoration: none;
    color: rgb(107, 107, 107);
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.navbar-nav a:hover {
    color: black;
    transform: scale(0.95);
}
div .icon-mobile{
    display: none;
}


.navbar-extra {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-wrapper {
    width: 200px;
    padding: 7px 10px;
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-direction: row-reverse;
}



.search-wrapper input {
    width: 80%;
    background-color: transparent;
}

.navbar-extra .menu-icon {
    display: none;    
}


/* Main Start */
main {
    width: 100%;
    position: relative;
}

.blob-1{
    position: absolute;
    width: 200px;
    z-index: -100;
    filter: blur(50px);
    opacity: 1;
    top: 150px;
    left: 500px;
    animation: wave2 4s ease-in-out infinite;

}
.blob-2{
    position: absolute;
    width: 350px;
    z-index: -100;
    filter: blur(30px);
    opacity: 0.6;
    top: 300px;
    left: 100px;
    animation: wave 4s ease-in-out infinite;
}

@keyframes wave {
    0% {
        transform: scale(1);
        transform: translateY(0);
    }
    50% {
        transform: scale(0.9);
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(1);
        transform: translateY(0);
    }
}
@keyframes wave2 {
    0% {
        transform: translateY(0);
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
        transform: translateY(1);
    }
}

#home {
    width: 100%;
    max-height: 550px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    box-sizing: border-box;
}

/* Home Section */
.home-section {
    width: 50%;
    padding-left: 5rem;
    padding-top: 20px;
    transform: translateX(-300px);
    opacity: 0;
    transition: 1s;
    max-height: 450px;
}

.home-section.home-reveal {
    transform: translateX(0);
    opacity: 1;
}

.home-section div h1{
    width: 80%;
    font-size: 5rem;
    line-height: 80px;
    margin-bottom: 10px;
}

.home-button {
    display: flex;
    gap: 10px;
}

.home-button button:first-child {
    padding: 15px 50px;
    margin-top: 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow:  2px 2px 10px #c5c5c5,
    -5px -5px 10px white;
    cursor: pointer;
    transition: 0.5s;
    box-shadow:  2px 2px 10px #bebebe;
}

.home-button button:last-child{
    padding: 15px 50px;
    margin-top: 60px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    border: 0.9px solid rgb(128, 128, 128, 0.2);
}

.home-button button:last-child:hover{
    transform: scale(0.98);
    box-shadow:  2px 2px 10px #bebebe;

}

.home-button button:first-child:hover{
    transform: scale(0.98);
    box-shadow:  2px 2px 30px #bebebe;

}

.home-button button:first-child a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.home-button button:last-child a {
    color: #313131;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


/* Home Section End */



/* Slider Section */
.slider-section {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    transform: translateX(300px);
    opacity: 0;
    transition: 1s;
}

.slider-section.slider-reveal {
    transform: translateX(0);
    opacity: 1;
}


.slider {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img  {
    width: 600px;
}

/* Manual Nav */
    .navigation-manual {
        position: absolute;
        width: 600px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        gap: 20px;
        /* display: none; */
    }

    .manual-btn {
        border: 1px solid grey;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:hover{
        background: #715a4f;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    #radio2:checked ~ .first {
        margin-left: -20%;
    }
    #radio3:checked ~ .first {
        margin-left: -40%;
    }
    #radio4:checked ~ .first {
        margin-left: -60%;
    }
/* Manual Nav End */

/* Auto Nav */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 600px;
    justify-content: center;
    margin-top: 414px;
    gap: 20px;
    /* display: none; */

}

.navigation-auto div {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #715a4f;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #715a4f;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #715a4f;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #715a4f;
}

/* Auto Nav End */

/* Utility Start */
.utility {
    width: 100%;
    height: 200px;
    padding: 0.2rem 5%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.utility-wrapper h1 {
    font-size: 16px;
}

.utility-wrapper p {
    margin-top: 5px;
    font-size: 13px;
    color: rgb(76, 76, 76);
}

.utility-wrapper {
    border-right: 1px solid grey;
}


.utility-wrapper:last-child {
    border: none;
}

/* Animation Utility */
.utility-1 {
    transform: translateX(-200px);
    transition: 1s ease-in-out;
    text-align: center;
    width: 400px;
    opacity: 0;
    /* transition: 2s ease-in-out; */
    
}
.utility-2 {
    transform: translateY(100px);
    transition: 1s ease-in-out;
    text-align: center;
    width: 400px;
    opacity: 0;
    /* transition: 2s ease-in-out; */
}
.utility-3 {
    transform: translateX(200px);
    transition: 1s ease-in-out;
    text-align: center;
    width: 400px;
    opacity: 0;
    /* transition: 2s ease-in-out; */
}


.utility-1.utility-active1 {
    opacity: 1;
    transform: translateX(0);
    padding-right: 5px;
}
.utility-2.utility-active2 {
    opacity: 1;
    transform: translateY(0);
}
.utility-3.utility-active3 {
    opacity: 1;
    transform: translateX(0);
}
/* Animation Utility */

/* Utility End */

/* About Us Section Start */
#aboutUs {
    width: 100%;
    height: 700px;
    position: relative;
    padding: 0.5rem 5%;
}

.blob-3{
    position: absolute;
    width: 200px;
    z-index: -100;
    filter: blur(50px);
    opacity: 1;
    top: 150px;
    left: 1150px;
    animation: wave2 4s ease-in-out infinite;

}
.blob-4{
    position: absolute;
    width: 350px;
    z-index: -100;
    filter: blur(30px);
    opacity: 1;
    top: 430px;
    left: 50px;
    animation: wave 4s ease-in-out infinite;
}

/* For Mobile */
.blob-5 {
    display: none;
}
.blob-6 {
    display: none;
}
/* For Mobile End */

.about-us-wrapper {
    padding-top: 50px;
    box-sizing: border-box;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}

.about-us-desc-1 {
    width: 1300px;
    height: 250px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.about-us-desc-1 div:last-child {
    width: 600px;
    text-align: center;
}

.about-us-desc-1 div:last-child p {
    margin-top: 10px;
    font-size: 13px;
}
.about-us-desc-1 div:last-child h1 {
    font-size: 30px;
}

.about-us-img-1 {
    position: relative;
    width: 600px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
    transition: 1s ease-in-out;
    transform: translateX(-200px);
}

.about-us-img-1.about-us-img-active-1 {
    opacity: 1;
    transform: translateX(0);
}

.about-us-img-1 img {
    position: absolute;
    width: 100% ;
    top: -90px;
}


.about-us-desc-2 {
    width: 1300px;
    height: 250px;
    display: flex;
    gap: 30px;
    flex-direction: row-reverse;
    margin-left: 60px;
    align-items: center;
}

.about-us-img-2 {
    position: relative;
    width: 600px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(300px);
    transition: 1s ease-in-out;
}

.about-us-img-2.about-us-img-active-2 {
    opacity: 1;
    transform: translateX(0);
}

.about-us-img-2 img {
    position: absolute;
    width: 100% ;
    top: -50px;
}

.about-us-desc-2 div:last-child {
    width: 600px;
    text-align: center;
}

.about-us-desc-2 div:last-child p {
    margin-top: 10px;
    font-size: 13px;
}
.about-us-desc-2 div:last-child h1 {
    font-size: 30px;
}





/* About Us Section End */

/* Product Section */
#product {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

#product > p {
    font-size: 13px;
    color: #715a4f;
    letter-spacing: 2px;
}

.featured-menu-wrapper {

    width: 100%;
    padding: 0.5rem 5%;
    position: relative;
    display: flex;
    gap: 70px;
    justify-content: center;
    padding-top: 100px;
    box-sizing: border-box;
}

/* Show UO */
.featured-img-1 {
    transform: translateX(-400px);
    opacity: 0;
    transition: 1s;
}
.featured-img-1.featured-img-active-1 {
    transform: translateX(0);
    opacity: 1;
}
/* Show UO */

.featured-card-1{
    width: 400px;
    height: 200px;
    position: relative;
    text-align: start;
    border-radius: 20px;
    display: flex;
    box-shadow:  1px 1px 10px #bebebe;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transform: translateX(50px);
    transition: 0.7s;
    opacity: 0;
}

.featured-card-1.featured-card-active-1:hover {
    transform: scale(0.98);
    box-shadow:  2px 2px 20px #bebebe;
}
.featured-card-1.featured-card-active-1:hover .featured-img-active-1{
    transform: scale(1.1);
}

.featured-card-1.featured-card-active-1 {
    transform: translateX(0);
    opacity: 1;
}
.featured-card-2{
    width: 400px;
    height: 200px;
    position: relative;
    text-align: start;
    border-radius: 20px;
    display: flex;
    box-shadow:  1px 1px 8px #bebebe;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transition: 1.3s;
    opacity: 0;
    transform: scale(0.9);
}
.featured-card-2.featured-card-active-2 {
    opacity: 1;
    transform: scale(1);
}

.featured-card-2.featured-card-active-2:hover {
    transform: scale(0.98);
    box-shadow:  2px 2px 20px #bebebe;
}
.featured-card-2.featured-card-active-2:hover .featured-img-2{
    transform: scale(1.1);
}

.featured-card-2.featured-card-active-2 {
    transform: translateX(0);
    opacity: 1;
}


.featured-card-3{
    width: 400px;
    height: 200px;
    position: relative;
    text-align: start;
    border-radius: 20px;
    display: flex;
    box-shadow:  1px 1px 8px #bebebe;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    transform: translateX(100px);
    transition: 1s;
    opacity: 0;
}
.featured-card-3.featured-card-active-3 {
    opacity: 1;
    transform: translateX(0);
}

.featured-img-3.featured-img-active-3 {
    transform: translateX(0);
    opacity: 1;
}


.featured-card-3.featured-card-active-3:hover {
    transform: scale(0.98);
    box-shadow:  2px 2px 20px #bebebe;
}
.featured-card-3.featured-card-active-3:hover .featured-img-active-3{
    transform: scale(1.1);
}

.featured-card-3.featured-card-active-3 {
    transform: translateX(0);
    opacity: 1;
}

.featured-card:hover {
    transform: scale(0.98);
    box-shadow:  2px 2px 30px #bebebe;
}


.featured-img-wrapper {
    /* position: relative; */
    height: 200px;
    width: 300px; 
    border-radius: 20px;
}

.featured-img-1{
    position: absolute;
    width: 400px;
    left: -100px;
    z-index: 100;
    top: -100px;
}
.featured-img-2 {
    position: absolute;
    width: 250px;
    left: -50px;
    z-index: 100;
    bottom: 25px;
    transition: 1s;
}
.featured-img-3{
    position: absolute;
    width: 230px;
    left: -60px;
    z-index: 100;
    top: -85px;
    transform: translateX(-200px);
    opacity: 0;
    transition: 1s;
}


.featured-card-desc p:last-child{
    margin-top: 20px;
    font-size: 13px;
    width: 200px;
}

.featured-card-desc {
    padding: 20px 10px;
    z-index: 150;

}

.review-card {
    margin-top: 10px    ;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    z-index: 9999;
}

.review-card p {
    font-size: 13px;
}

.featured-card-desc-wrapper {
    display: flex;
    flex-direction: column;
}

.get-product-wrapper {
    width: 100%;
    text-align: center;
    height: 160px;
    position: relative;
    transform: translateY(120px);
    box-sizing: border-box;
    padding: 0.5rem 5%;
}

.get-product {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    /* background-color: rgb(246, 246, 246); */
    align-items: center;
    gap: 150px;
    border-radius: 20px;
}

.get-product-wrapper h1 {
    font-size: 20px;
}
.get-product-wrapper p {
    font-size: 13px;
    margin-top: 7px;
    color: #715a4f;
}

.get-product-img {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.get-product-img img {
    position: absolute;
    width: 100%;
    left: 0;
    filter: grayscale(1);
    transition: 0.7s ;
    cursor: pointer;
}
.get-product-img img:hover {
    position: absolute;
    width: 100%;
    left: 0;
    filter: grayscale(0);
    /* filter: grayscale(1); */
}

.get-product-img:nth-child(2) img {
    top: 10px;
}
.get-product-img:nth-child(4) img {
    top: 25px;
}


/* Product Section End*/

/* Find Us Section */
.find-us {
    width: 100%;
    padding: 0.5rem 5%;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
    position: relative;
}
.find-us > p {
    letter-spacing: 3px;
    color: #715a4f;
    font-size: 13px;
}

.find-us-wrapper {
    position: relative;
    width: 100%;
    height: 550px;
    /* overflow-y: hidden; */
}

.maps-indo {
    filter: grayscale(1);
    opacity: 0.1;
    position: absolute;
    left: 50px;
    top: -80px;
    width: 1200px;
}

.maps-card {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.maps-card-mobile {
    display: none;
}
.maps-card-1 {
    transform: translateY(310px) translateX(300px) scale(0.6);
    /* transform: scale(0.8); */
    transition: 4s ease;
    /* opacity:0; */
}   
.maps-card-2 {
    transform: translateY(230px) translateX(500px) scale(0.6);
    /* transform: scale(0.8); */
    transition: 4s ease;
    /* opacity:0; */
}
.maps-card-3 {
    transform: translateY(90px) translateX(700px) scale(0.6);
    /* transform: scale(0.8); */
    transition: 4s ease;
    /* opacity:0; */
}
.maps-card-4 {
    transform: translateY(-280px) translateX(900px) scale(0.6);
    /* transform: scale(0.8); */
    transition: 4s ease;
    /* opacity:0; */
}
.maps-card-5 {
    transform: translateY(-410px) translateX(150px) scale(0.6);
    /* transform: scale(0.8); */
    transition: 4s ease ;
    /* opacity:0; */
}

.maps-card-1  {
    opacity: 1;
    transform: translateY(310px) translateX(300px) scale(1);
}
.maps-card-2.maps-card-active-2 {
    transform: translateY(230px) translateX(500px) scale(1);
    opacity: 1;
}
.maps-card-3.maps-card-active-3 {
    opacity: 1;
    transform: translateY(90px) translateX(700px) scale(1);

}
.maps-card-4.maps-card-active-4 {
    opacity: 1;
    transform: translateY(-280px) translateX(900px) scale(1);

}
.maps-card-5.maps-card-active-5 {
    opacity: 1;
    transform: translateY(-410px) translateX(150px) scale(1);

}

.glassy-card {
    position: relative;
    backdrop-filter: blur(1px);
    box-shadow: 1px 1px 20px rgb(198, 197, 197);
    background-color: rgb(255, 255, 255, 0.4);
    width: 400px;
    height: 70px;
    transform: translateX(900px) translateY(-200px);
    border-radius: 20px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}

.glassy-card div {
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: center;
}

.glassy-card div p {
    font-size: 13px;
}

.glassy-card div:last-child {
    border-right: none;
}

.maps-card-img {
    position: relative;
    box-shadow: 1px 1px 10px grey;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    /* background-color: white; */
    backdrop-filter: blur(5px);
}

.maps-card-img img {
    position: absolute;
    width: 150px;
    left: -20px;
    bottom: 1px;
    z-index: 10;
    border-bottom-left-radius: 60px;
}
.maps-card p {
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 13px;
}

.dashed-line-1 {
    position: absolute;
    width: 200px;
    z-index: -100;
    transform: rotate(60deg);
    top: 450px;
    left: 270px;
    
}
.dashed-line-2 {
    position: absolute;
    width: 200px;
    z-index: -100;
    bottom: 150px;
    left: 470px;
    z-index: -100;
    filter: brightness(-10);
    transform: rotate(30deg);
}
.dashed-line-4 {
    position: absolute;
    width: 200px;
    z-index: -100;
    bottom: 100px;
    left: 680px;
    z-index: -100;
    filter: brightness(-10);
    transform: rotate(20deg);
}
.dashed-line-3 {
    position: absolute;
    width: 250px;
    z-index: -100;
    bottom: 180px;
    right: 460px;
    opacity: 0.7;
    transform: rotate(150deg);
}
/* Find Us Section */

/* Our Team Section */
#ourTeamMobile{
    display: none;
}
#ourTeam {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 5%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    position: relative;
    gap: 30px;
    flex-direction: column;
}

#ourTeam {
    display: flex;
    align-items: center;
}
#ourTeam h1 {
    color: #313131;
}
#ourTeam p {
    letter-spacing: 5px;
    font-size: 13px;
    color: #715a4f;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 1300px;
    height: 450px;
    transition: all 400ms;
    
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box::after{
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 200ms;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}
.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}
.container:has(.box-6:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}
.container:has(.box-7:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}







/* Our Team Section End */

/* Main End*/

/* Footer */
#contactUs {
    width: 100%;
    height: 100vh;
    text-align: center;
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

.quotes{
    margin-top: 40px;
    height: 55%;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    z-index: -2;
}

.quotes img {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    left: 150px;
    top: 70px;
    width: 200px;
}

.quotes h1 {
    width: 70%;
}

.footer-container {
    background-color: #313131;
    width: 100%;
    height: 45%;
    text-align: start;
    padding: 0.5rem 5%;
}

.footer-content-wrapper{
    display: flex;
    color: white;
    height: 80%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.footer-img {
    position: relative;
    width: 300px;
    height: 80px;
}

.footer-img img{
    position: absolute;
    width: 150px;
    left: 0;
    bottom: -16px;
}

.footer-img-wrapper{
    width: 500px;
    height: 170px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-img-wrapper p {
    font-size: 13px;
    color: #bebebe;
}

.footer-icon-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-icon:hover {
    background-color: white;
    transform: scale(0.98);
}

.footer-icon i {
    color: white;
    transition: 0.5s;
}

.footer-icon:hover > i {
    color: black;
}

/* .footer-icon i {
    position: absolute;
    left: 7px;
    top: 6px;
} */

.footer-blog-wrapper {
    display: flex;
    gap: 130px;
}

.company-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.company-container h1 {
    font-size: 18px;
    font-weight: 500;
}

.company-container div{
    line-height: 24px;
    font-size: 13px;
}

.company-container p {
    color: #bebebe;
}
.company-container p:hover {
    color: white;
    transform: scale(0.98);
    transition: 0.4s;
    cursor: pointer;
}

.shop-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.shop-container h1 {
    font-size: 18px;
    font-weight: 500;
}

.shop-container div{
    line-height: 24px;
    font-size: 13px;
}

.shop-container p {
    color: #bebebe;
    transition: 0.4s;

}
.shop-container p:hover {
    color: white;
    cursor: pointer;
    transform: scale(0.98);
}


.support-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.support-container h1 {
    font-size: 18px;
    font-weight: 500;
}

.support-container div{
    line-height: 24px;
    font-size: 13px;
}

.support-container p {
    color: #bebebe;
    transition: 0.4s;

}
.support-container p:hover {
    color: white;
    cursor: pointer;
    transform: scale(0.98);
}
.faq-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.faq-container h1 {
    font-size: 18px;
    font-weight: 500;
}

.faq-container div{
    line-height: 24px;
    font-size: 13px;
}

.faq-container p {
    color: #bebebe;
    transition: 0.4s;


}
.faq-container p:hover {
    color: white;
    cursor: pointer;
    transform: scale(0.98);
}

.copyright-container {
    display: flex;
    width: 100%;
    height: 50px;
    border-top: 1px solid white;
    font-size: 14px;
    color: #bebebe;
    justify-content: space-between;
    align-items: center;
}



/* Footer End */

@media (max-width: 1300px) {
    html{
        font-size: 90%;
    }
    header {
        padding: 10px 40px;
    }
    .header{
        padding: 10px 80px;
        box-sizing: border-box;
    }
    div .icon-mobile{
        display: none;
    }
    #home {
        padding-top: 80px;
    }
    .utility{
        gap: 0;
    }
    .utility-wrapper:first-child{
        padding-right: 20px;

    }
    .utility-wrapper{
        padding: 0 20px;
    }

    .about-us-wrapper {
        width: 100%;
    }
    .about-us-desc-1 {
        width: 90%;
        height: 90%;
    }
    .about-us-desc-2 {
        width: 90%;
        height: 90%;
    }

    .about-us-img-2 img {
        object-fit: fill;
        width: 120%;
    }
    #product {
        padding-top: 130px;
    }

    .featured-menu-wrapper {
        width: 70%;
        margin: 0 auto;
        gap: 30px;
    }
    .featured-img-1 {
        left: -120px;
    }

    .featured-img-3 {
        width: 190px;
        left: -30px;
        top: -51px;
    }
    .featured-card-1 {
        width: 370px;
    }
    .featured-card-2 {
        width: 370px;
    }
    .featured-card-3 {
        width: 370px;
    }

    .featured-card-desc-wrapper {
        width: 80%;
    }

    /* FindUs */

    .maps-indo {
        width: 95%;
    }

    .maps-card {
        width: max-content;
    }
    .maps-card-5 {
        top: -30px;
        left: 20px;
    }
    .maps-card-2 {
        top: -20px;
    }
    .maps-card-3 {
        top: -50px;
    }

    .dashed-line-2 {
        bottom: 230px;
        left: 450px;
    }
    .dashed-line-3 {
        right: 210px;        
        bottom: 260px;
    }

    .dashed-line-4 {
        bottom: 220px;
        width: 150px;   
        overflow: hidden;
    }

    .glassy-card {
        transform: translateY(-50px) translateX(700px);
    }
    /* FindUs End */

    
    .container{
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 0.5em;
        width: 1250px;
    }
    #ourTeamMobile {
        display: none;
    }
    /* Our Team End */
}

/* Mobile */
@media (max-width: 480px) {
    *{
        user-select: none;
    }
    html {
        font-size: 80%;
        overflow-x: hidden;
    }
    header {
        width: 100vw;
        position: fixed;
    }
    .header {
        width: 100%;
        /* justify-content: space-between; */
        position: fixed;
        padding: 0.2rem 20%;
        margin-top: 0;
        top: 0;
    }

    .header.header-active {
        position: fixed;
        top: 0;
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        padding: 0.2rem 20%;
        box-shadow: 2px 2px 10px #c5c5c5;
        background-color: white;
        /* border: 1px solid #313131; */

    }
    .logo {
        width: 100px;
        z-index: 999;
        margin-left: -50px;
    }
    .logo img {
        width: 100%;
        top: 5px;
    }
    .navbar {
        width: 220px;
        height: 95vh;
        /* background-color: #313131; */
        /* border-left: 1px solid #313131; */
        background-color: white;
        box-shadow: 2px 10px 10px #c5c5c5;
        position: absolute;
        right: 0;
        top: 70px;
        display: flex;
        font-size: 16px;
        padding: 30px 0 0 20px;
        transform: translateX(400px);
        transition: 0.7s;
        color: white;
        padding: 18px 15px;
        box-sizing: border-box;
    }
    .navbar.navbar-reveal {
        transform: translateX(0);
    }

    .navbar-nav {
        flex-direction: column;
        gap: 45px;
        width: 100%;
    }
    .navbar-nav div {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .navbar-nav a {
        color: black;        
    }

    div .icon-mobile{
        color: black;
        display: inline-block;
    }
    .contact-btn{
        width: 100%;
        background-color: #313131;
        padding: 14px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: 0.7s;
    }
    .contact-btn:active{
        background-color: black;
        transform: scale(0.9);
    }
    .contact-btn:focus a{
        color: rgb(197, 197, 197);
    }
    .contact-btn a {
        color: white;
    }

    .navbar-extra {
        gap: 30px;
        width: 50%;
        margin-top: -10px;
    }


    #menu {
        display: block;
    }

    .search-wrapper {
        border: none;
        right: -30px;
    }
    /* Header End */

    .blob-1 {
       width: 50%; 
       left: 10px;
       top: 300px;
       opacity: 0.3;
    }
    .blob-2 {
       width: 50%; 
       top: 70px;
       left: 190px;
       opacity: 0.5;
    }

    .blob-3 {
        width: 80%;
        left: 100px;
        top: -140px;
        opacity: 0.3;
    }
    .blob-4 {
        top: 750px;
        opacity: 0.3;

    }
    .blob-5 {
        display: block;
        width: 80%;
        top: 300px;
        left: -40px;
        filter: blur(30px);
        display: flex;
        position: absolute;
        z-index: -100;;
        opacity: 0.5;

    }
    .blob-6 {
        display: block;
        width: 80%;
        top:1500px;
        left: -90px;
        filter: blur(30px);
        display: flex;
        position: absolute;
        z-index: -100;
        opacity: 0.3;

    }

    #home {
        display: flex;
        justify-content: center;
    }

    .home-section {
        width: 100vw;
        height: 100%;
        text-align: center;
        padding-left: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-section div {
        justify-content: center;
        text-align: center;
        width: 80%;
    }
    .home-section div h1 {
        font-size: 50px;
        line-height: 50px;
        width: 100%;
    }

    .slider-section {
        display: none;
    }

    .home-button {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }

    .home-button button {
        height: 60px ;
    }

    .home-button button:last-child {
        margin-top: 10px;
    }

    .utility-wrapper h1 {
        font-size: 12px;
    }

    .utility-wrapper p {
        display: none;
    }

    /* About Us Mobile */
    #aboutUs {
        width: 100vw;
    }

    .about-us-wrapper {
        width: 100%;
        gap: 0;
        height: 800px;
    }

    .about-us-desc-1 {
        width: 350px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .about-us-img-1 {
        width: 100%;
        height: 200px;
        /* height: 300px; */
        /* background-color: green; */
    }
    .about-us-img-1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
    }

    .about-us-desc-1 div:last-child {
        text-align: start;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-desc-1 div:last-child h1 {
        font-size: 20px;
    }

    .about-us-desc-1 div:last-child p {
        font-size: 11px;
        width: 330px;
        height: 90px;
        color: rgb(70, 69, 69);

    }

    /* adawad */
    .about-us-desc-2 {
        width: 350px;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        gap: 10px;
    }

    .about-us-img-2 {
        width: 100%;
        height: 200px;
        /* height: 300px; */
        /* background-color: green; */
    }
    .about-us-img-2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
    }

    .about-us-desc-2 div:last-child{
        text-align: start;
        width: 100%;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-us-desc-2 div:last-child h1 {
        font-size: 20px;
    }

    .about-us-desc-2 div:last-child p {
        font-size: 11px;
        /* background-color: red; */
        width: 330px;
        height: 90px;
        color: rgb(70, 69, 69);
    }
    /* About Us Mobile End */

    /* Product Mobile */
    #product {
        width: 100vw;
        margin-top: 280px;
        height: 128vh;
        padding-top: 30px;
    }


    .featured-menu-wrapper {
        display: flex;
        flex-direction: column;
        width: 90vw;
        padding-top: 30px;
    }
    .featured-card-1 {
        width: 310px;
        margin-top: 20px;
    }
    .featured-img-1{
        width: 70%;
        transform: none;
        left: -70px;
        top: -40px;
    }
/* Featured Img 2 */
    .featured-card-2 {
        margin-top: 20px;
        width: 310px;
    }
    .featured-img-2{
        width: 60%;
        transform: none;
        left: -60px;
        top: -80px;
    }
    /* Featured Img 3 */
    .featured-card-3 {
        margin-top: 20px;
        width: 310px;
        background-color: white;
    }
    .featured-img-3{
        width: 40%;
        transform: none;
        left: -30px;
        top: -30px;
    }

    .get-product-wrapper {
        transform: translateY(30px);
        align-items: center;
    }
    .get-product {
        width: 100%;
        height: 80px;
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center ;
        margin-top: 20px;
    }
    .get-product-img:nth-child(2) img {
        top: 5px;
    }
    .get-product-img:nth-child(4) img {
        top: 15px;
    }

    .get-product-img img {
        filter: none;
    }

    
    /* Product Mobile End */
    
    /* Find Us Mobile */
    .find-us {
        width: 100%;
    }
    .find-us-wrapper{
        margin-top: 40px;
        height: 450px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 10px #c5c5c5;
        overflow: hidden;

    }
    .find-us-wrapper img {
        top: 0;
        left: 0;
        opacity: 1;
    }

    .glassy-card{
        transform: translateX(0) translateY(20px);
        width: 350px;
    }
    
    .maps-card-mobile {
        width: 100%;
        height: 50%;
        transform: translateY(230px);
        padding: 20px 20px;
        background-color: #313131;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;
        display: block;
    }
    .maps-city-mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
        justify-content: center;
    }

    .maps-city-mobile > div {
        text-align: start;
        color: white;
        display: flex;
        gap: 10px;
    }

    .maps-city-mobile h1 {
        font-size: 15px;
    }
    .maps-city-mobile p {
        font-size: 12px;
        color: rgb(218, 218, 218);
    }

    .maps-card {
        width: 100px;
        display: none;
        height: 100px;
    }


    /* .maps-card-1 {
        transform: translateX(0) translateY(150px);
    }
    .maps-card-2 {
        transform: translateX(-500px) translateY(200px);
    }
    .maps-card-3 {
        transform: translateX(0) translateY(150px);
    }
    .maps-card-4 {
        transform: translateX(0) translateY(150px);
    }
    .maps-card-5 {
        transform: translateX(0) translateY(150px);
    } */

    .dashed-line-1{
        display: none;
    }
    .dashed-line-2{
        display: none;
    }
    .dashed-line-3{
        display: none;
    }
    .dashed-line-4{
        display: none;
    }
    /* Find Us Mobile */

    /* OurTeam Mobile */
    #ourTeam {
        display: none;
    }
    #ourTeamMobile {
        width: 100vw;
        height: 200vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 5%;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
        position: relative;
        gap: 30px;
        flex-direction: column;
    }
    #ourTeamMobile {
        display: flex;
        align-items: center;
    }
    #ourTeamMobile h1 {
        color: #313131;
    }
    #ourTeamMobile p {
        letter-spacing: 5px;
        font-size: 13px;
        color: #715a4f;
    }

    .containerMobile {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        width: 100vw;
        height: 400px;
        transition: all 400ms;
    }

    .boxMobile {
        position: relative;
        background: var(--img) center center;
        background-size: cover;
        transition: all 400ms;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxMobile::after{
        content: attr(data-text);
        position: absolute;
        bottom: 20px;
        background: #000;
        color: #fff;
        padding: 10px 10px 10px 14px;
        letter-spacing: 4px;
        text-transform: uppercase;
        transform: translateY(60px);
        opacity: 0;
        transition: all 400ms;
    }

    .container-wrapper {
        gap: 1em;
        display: grid;
        transition: all 400ms;
    }


    .container-wrapper:hover .boxMobile {
        filter: grayscale(100%) opacity(24%);
    }

    .containerMobile:hover .boxMobile {
        filter: grayscale(100%) opacity(24%);
    }
    .boxMobile:hover::after {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 200ms;
    }
    .containerMobile .boxMobile:hover {
        filter: grayscale(0%) opacity(100%);
    }

    .containerMobile:has(.box-1-mobile:hover) {
        grid-template-columns: 2fr 1fr;
    }

    .containerMobile:has(.box-2-mobile:hover) {
        grid-template-columns: 1fr 2fr;
    }

    /* Baris Kedua */
    .containerMobile-2 {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        width: 100vw;
        height: 400px;
        transition: all 400ms;
    }
    .containerMobile-2:hover .boxMobile {
        filter: grayscale(100%) opacity(24%);
    }
    .containerMobile-2 .boxMobile:hover {
        filter: grayscale(0%) opacity(100%);
    }

    .containerMobile-2:has(.box-3-mobile:hover) {
        grid-template-columns: 2fr 1fr;
    }

    .containerMobile-2:has(.box-4-mobile:hover) {
        grid-template-columns: 1fr 2fr;
    }
    /* Baris Kedua End */
    /* Baris Ketiga  */
    .containerMobile-3 {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        width: 100vw;
        height: 400px;
        transition: all 400ms;
    }
    .containerMobile-3:hover .boxMobile {
        filter: grayscale(100%) opacity(24%);
    }
    .containerMobile-3 .boxMobile:hover {
        filter: grayscale(0%) opacity(100%);
    }

    .containerMobile-3:has(.box-5-mobile:hover) {
        grid-template-columns: 2fr 1fr 1fr;
    }

    .containerMobile-3:has(.box-6-mobile:hover) {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .containerMobile-3:has(.box-7-mobile:hover) {
        grid-template-columns: 1fr 1fr 2fr;
    }
    /* Baris Ketiga End */
    /* OurTeam Mobile End */


    /* Contact Us */
    #contactUs {
        /* background-color: grey; */
        width: 100vw;
        height: 100vh;
        align-items: center;
        box-sizing: border-box;
    }

    .quotes img {
        width: 150px;
        left: 20px;
    }

    .footer-container {
        width: 100vw;
        height: 45%;
        text-align: start;
        padding: 0;
    }
    .footer-blog-wrapper {
        display: none;
    }


    .footer-img-wrapper {
        width: 100vw;
        height: 100px;
        margin-top: 35px;
        position: relative;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .footer-img {
        margin-left: 150px;
    }

    .footer-icon-wrapper {
        width: 300px;
        align-items: center;
        display: flex;
        margin-top: 10px;
        margin-left: 60px;
        position: relative;
    }
    .footer-icon {
        width: 50px;
        height: 50px;
    }
    
    
    .copyright-container {
        width: 100vw;
        height: 50px;
        font-size: 12px;
        gap: 10px;
        padding: 0 10px 0 1px ;
        text-align: center;
    }
    /* Contact Us End*/

    .copyright-container {
        width: 100vw;
        height: 50px;
        font-size: 12px;
        gap: 10px;
        padding: 0 10px 0 1px ;
        text-align: center;
    }
    /* Contact Us End*/
}
/* Mobile End */


